/*////////////////////////////////////General////////////////////////////////////*/
body {
    height: 1500px;
}

.container-fluid {
    background: #438D9B;
    height: 100%;
}

.jumbotron {
    background: #08515F;
    color: white;
}

/*////////////////////////////////////Table////////////////////////////////////*/

table {
    background: #156878;
    border: white;
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    text-align: center;
}

tr, th {
    color: white;
    text-align: center;
}

th {
    font-size: 30px;
}


#btnDetails{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-repeat: no-repeat;
    background-image: url('./Assets/Details.png');
    background-position: center;
    background-color: white;
    border-radius: 10px;
    border: solid white;
}

#btnDetails:hover {
    background-image: url('./Assets/Details.png');
    background-color: #438D9B;
}

#btnEdit{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-repeat: no-repeat;
    background-image: url('./Assets/Edit.png');
    background-position: center;
    background-color: white;
    border-radius: 10px;
    border: solid white;
}

#btnEdit:hover {
    background-image: url('./Assets/Edit.png');
    background-color: #438D9B;
}

#btnRemove{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-repeat: no-repeat;
    background-image: url('./Assets/Remove.png');
    background-position: center;
    background-color: white;
    border-radius: 10px;
    border: solid white;
}

#btnRemove:hover {
    background-image: url('./Assets/Remove.png');
    background-color: #438D9B;
}

/*////////////////////////////////////Form////////////////////////////////////*/

#btnAdd {
    width: 70px;
    height: 70px;
    margin: 10px;
    background-repeat: no-repeat;
    background-image: url('./Assets/Add.png');
    background-position: center;
    background-color: white;
    border-radius: 10px;
    border: solid white;
}

#btnAdd:hover {
    background-image: url('./Assets/Add_big.png');
    background-color: #438D9B;
}

.modal-content {
    background-color: #156878;
    color: white;
    border: solid white;
    box-shadow: 0px 0px 100px 10px black;
}

form {
    text-align: center;
    padding: 20px;
}